pandas
numpy
scikit-learn
transformers
torch
nltk
matplotlib
seaborn
wordcloud
imbalanced-learn
peft
bitsandbytes
shap
umap-learn
newsapi-python
accelerate
sentencepiece
tiktoken
statsmodels
